* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: none;
}

.about-wrapper {
    height: 100vh;
}

.about-left {
    background: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.about-left-content>div {
    background: #000;
    color: white;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
}

.about-left-content {
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}

.about-img img {
    display: block;
    width: 200px;
}

.about-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.shadow {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}

.shadow::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 7px;
    width: 50px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0;
    transition: all 0.6s ease;
}

.shadow:hover .about-img {
    transform: translateY(-10px);
}

.shadow:hover::after {
    opacity: 1;
}

.about-left-content h2 {
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
}

.about-left-content h3 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}

.icons {
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
}

.icons li {
    list-style-type: none;
    background: #fff;
    color: #000;
    width: 45px;
    height: 45px;
    margin: 0 0.5rem;
    border: 3px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.icons li:hover {
    background: #000;
    color: #fff;
}

.about-right {
    background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 5rem;
    text-align: center;
}

.about-right q {
    font-weight: bold;
}

.about-right h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.about-right h1 span {
    color: #000;
}

.about-right h2 {
    font-weight: 600;
}

.about-btns {
    display: flex;
    margin: 2rem 0;
}

.btn {
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0.75rem 1rem;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
}

.btn.btn-pink {
    background: #fff;
    color: #000;
    border-color: #000;
    transition: all 0.5s ease-in-out;
}

.btn.btn-pink:hover {
    background: #000;
    border-color: #000;
    color: #fff;
}

.about-para p {
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.8;
}

@media screen and (min-width: 992px) {
    .about-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .about-left {
        position: relative;
    }
    .about-left-content {
        position: absolute;
        right: -50px;
    }
}

p {
    text-align: left;
}