/* Default Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* First Page */

.leftside, .rightside {
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.leftside {
    background-image: url(../images/Deliberate-Studios-Background.jpg);
}

.rightside {
    background-image: url(../images/Filter-Free-Background.jpg);
}

/* .ds_logo {
    width: 240px;
    height: 240px;
}

.ffp_logo {
    width: 240px;
    height: 240px;
} */

/* Media Queries */

/* 2 Background images */
@media screen and (min-width:768px) {
    .leftside, .rightside {
        height: 100vh;
    }
}
